@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
}

img {
  border-radius: 5px;
}

a {
  text-decoration: none;
}

nav {
  width: 95%;
  margin: 0 auto;
  padding: 0 1em;
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #989898;
}

nav .brand {
  font-size: 2em;
  font-weight: 600;
  text-decoration: none;
  color: #333;
}

nav .brand span {
  color: #9B0D9E;
}

nav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .icons button {
  background: transparent;
  border: 0;
  outline: none;
}

nav .icons .cart {
  margin-right: 20px;
  position: relative;
}

nav .icons .cart .quantity {
  background: #9B0D9E;
  color: #fff;
  font-weight: 500;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 14px;
}

.Toastify__toast--warning {
  background: #9B0D9E !important;
  color: #fff;
}

.title-cont {
  margin-top: 0.5em;
  text-align: center;
}

.title-cont .title {
  font-size: 1.8em;
  font-weight: 600;
}

.title-cont .info {
  font-weight: 500;
}

.card-cont {
  padding: 1em 0.4em;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1000px;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1em;
}

.card-cont .card {
  min-width: 280px;
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em 1em;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.card-cont .card .details {
  margin-left: 1em;
  margin-top: 0.5em;
}

.card-cont .card .details .title {
  font-weight: 600;
}

.card-cont .card .details .author {
  color: #989898;
  margin: 0.5em 0;
}

.card-cont .card .details .year {
  color: #989898;
  margin: 0.5em 0 0.5em;
}

.card-cont .card .details .price {
  font-size: 1.5em;
  font-weight: 600;
}

.card-cont .card .details .btn {
  border: 0;
  border-radius: 5px 20px 20px 5px;
  height: 32px;
  padding-left: 0.5em;
  width: 110px;
  background: #9B0D9E;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  outline: 0;
}

.card-cont .card .details .btn span {
  font-size: 2em;
  margin-right: 5px;
}

.item-cont {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  margin: 20px 0.5em;
  min-width: 300px;
  max-width: 1000px;
  width: 100%;
  border-radius: 20px;
}

.item-cont .item-info {
  background: #ECECEC;
  font-weight: 600;
  border-radius: 20px 20px 0px 0px;
}

.item-cont .total {
  background: #ECECEC;
  font-weight: 600;
  border-radius: 0px 0px 20px 20px;
}

.item-cont .item .grid {
  border-bottom: 0.5px solid #ECECEC;
}

.item-cont .grid {
  display: -ms-grid;
  display: grid;
  padding: 1em 0.5em;
  -ms-grid-columns: 1fr 7fr 2fr 5fr;
      grid-template-columns: 1fr 7fr 2fr 5fr;
  min-width: 300px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.item-cont .grid .title {
  font-weight: 600;
}

.item-cont .grid .author {
  color: #989898;
}

.item-cont .grid .num {
  font-weight: 600;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
}

.item-cont .grid div {
  text-align: center;
}

.item-cont .grid div p {
  text-align: left;
}

.item-cont .grid .btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 1fr;
      grid-template-columns: 5fr 1fr;
  grid-gap: 5px;
}

.item-cont .grid .btns .quantity {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-cont .grid .btns .quantity div {
  min-width: 32px;
  height: 36px;
  border-top: 0.5px solid #989898;
  border-bottom: 0.5px solid #989898;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-cont .grid .btns .quantity button {
  height: 36px;
  cursor: pointer;
  color: #fff;
  border: 0;
  outline: 0;
  font-size: 1.3em;
  width: 32px;
  background: #9B0D9E;
}

.item-cont .grid .btns .quantity button:nth-of-type(1) {
  border-radius: 14px 0px 0px 14px;
}

.item-cont .grid .btns .quantity button:nth-of-type(2) {
  border-radius: 0px 14px 14px 0px;
}

.item-cont .grid .btns .delete {
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  height: 28px;
  width: 28px;
}

.none {
  width: 100%;
  padding: 2em;
  font-weight: 600;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */